* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  body {
      background-color: #caf0f8;
  }
  h1 h2 h3 {
      font-family: Arial, Helvetica, sans-serif;
  }
  h3 {
      font-size: 200%;
  }
  header {
      background-color: #03045e;
      border-bottom: 10px solid #0077b6;
      
  }
  header h1 {
      font-size: 300%;
      font-weight: bold;
      color: #00b4d8;
      padding: 20px 20px;
      text-decoration: underline;
      background-color: #0077b6;
      width: 23%;
      box-shadow: 3px 3px #00b4d8;
  }
  header nav{
      display: flex;
      justify-content: flex-end;
      border-top: #00b4d8;
  }
  header nav a{
    color: #00b4d8; 
    padding: 5px 10px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    font-size: 125%;
    border: 2px solid #00b4d8;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    box-shadow: 3px 3px #00b4d8;
  }

/* this is the hover feature that makes the a tags glow blue */
a:hover,
a:hover .a {
  box-shadow: inset 0px 0px 8px 
  #00b4d8, 0 0 15px 
  #00b4d8;
}
/* This is the styling for the about me sections */
.aboutme { 
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px;
   
}
.aboutme h2 {
    display: flex;
    color:#00b4d8;
    border-bottom: 8px solid #0077b6;
    width: 100%;
    padding-top: 50px;
    /* margin-bottom: 50px; */
    font-size: 200%;

}.aboutme p {
    color: #00b4d8;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 50px;
    width: 50%;
    border: 3px solid #0077b6;
    background-color: #03045e;
    border-radius: 10px;
    margin-right: 50px;
    box-shadow: 3px 3px #03045e;
}
.aboutme img {
    height: 25%;
    width: 25%;
    margin: 50px;
    border: 5px solid #0077b6;

} 
/* This is the styleing for the work section */
.work {
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px;
    
}
.work h2 {
    display: flex;
    color:#00b4d8;
    border-bottom: 8px solid #0077b6;
    width: 100%;
    padding-top: 50px;
    font-size: 200%;
}
.project1 {
    border: 3px solid #0077b6;
    width: 100%;
    height: 500px;
    background-image: url("../images/results_page_screenshot.png");
    background-size: 1400px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 300px;
    box-shadow: 3px 3px #03045e;

}
.projectother {
    border: 3px solid #0077b6;
    width:40%;
    margin-top: 15px;
    margin-right: 15px;
    height: 300px;
    box-shadow: 3px 3px #03045e;
    
}
.work a {
    /* text-decoration: underline; */
    color: #00b4d8;
    border: 3px solid #0077b6;
    background-color: #03045e;
    box-shadow: 3px 3px #03045e;
}
.project1 a {
    /* border: 3px solid #0077b6; */
    position: relative;
    bottom: -425px;
}
/* I used stock images as placeholders until i have more work to showcase here */
#projectother1 {
    background-image: url("../images/horiseon_top_half.PNG");
    background-size: 800px;
}
#projectother2 {
    background-image: url("../images/background_image_1.jpg");
    background-size: 700px;
}
#projectother3 {
    background-image: url("../images/background_image_3.jpg");
    background-size: 700px;
}
#projectother4 {
    background-image: url("../images/background_image_4.jpg");
    background-size: 700px;
}
.projectother h3 {
    position: relative;
    bottom: -225px
}
/* This is the styling for the contact me section */
.contactme { 
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px;
}
.contactme h2 {
    display: flex;
    color:#00b4d8;
    border-bottom: 8px solid #0077b6;
    width: 100%;
    padding-top: 50px;
    font-size: 200%;
    margin-bottom: 50px;
}
.contactme a {
    justify-content: center;
    color: #00b4d8; 
    padding: 5px 10px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    font-size: 125%;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 5px;
    margin-left: 100px;
}
/* This is the resume sections styling */
.resume {
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px;
}
.resume h2 {
    display: flex;
    color:#00b4d8;
    border-bottom: 8px solid #0077b6;
    width: 100%;
    padding-top: 50px;
    font-size: 200%;
}
.resumeimage {
    display: flex;
    margin-top: 50px;
    margin-left: 500px;
    border: 10px solid #03045e;
    padding: 10px
}
/* this ajusts the style of the to adapt to smaller screens sizes */
@media screen and (max-width: 900px) {
    header h1 {
        font-size: 250%;
        padding: 10px 10px;
        width: 33%;
    }
    .aboutme {
        padding-left: 50px;
    }
    .aboutme p {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    .aboutme img {
        width: 75%;
        height: 75%;
        margin: 10px;
    }
    .work {
        padding-left: 50px;
    }
    .project1 {
        width: 100%;
        height: 500px;
        margin-right: 50px;
    }
    .projectother {
        width:100%;
        margin-top: 15px;
        margin-right: 15px;
        height: 300px;
        
    }
    .contactme { 
        padding-left: 50px;
    }
    .contactme a {
        padding: 50px 50px;
    }
    .resume {
        padding-left: 50px;
    }
    .resumeimage {
        display: flex;
        margin-top: 50px;
        margin-left: 100px;
        padding: 10px
    }
}